{% extends 'base.html' %}
{% block content %}
<h1>Finch List</h1>
{% for finch in finches %}
<a href="{% url 'finch_detail' finch.id %}">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ finch.name }}</span>
      <p>Color: {{ finch.color }}</p>
      {% if finch.age > 0 %}
      <p>Age: {{ finch.age }}</p>
      <p>Description: {{ finch.description|linebreaks }}</p>
      {% else %}
      <p>Age: Little Finch</p>
      {% endif %}
    </div>
  </div>
</a>
{% endfor %}
{% endblock %}
